# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Mercado Pago Configuration
VITE_MERCADO_PAGO_APP_ID=
MERCADO_PAGO_CLIENT_SECRET=

# Web Push Configuration (Optional)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
